<?xml version='1.0' encoding='utf-8'?>
<widget id="francoisbasset.cordovaboilerplate" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Boilerplate</name>
    <description>Cordova Boilerplate</description>
    <author href="https://github.com/FrancoisBasset">François Basset</author>
    <content src="/" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="FullScreen" value="true" />
	<icon src="public/icon.png" platform="android" width="100" height="100" density="hdpi" />
</widget>
